#body{background-color: lightcoral;}

#image{
	width: 342px
}
#azerty{
	margin: 60px;
	padding-left:60px;
	padding-top: :60px;
	padding-bottom:   :60px;
	padding-right:60px;

}
#name{
	width: 200px !important;

}
#phone{
	width: 200px !important;

}
#company{
	width: 200px !important;

}

#email{
	width: 200px !important;

}

.alert{
  text-align: center; padding:10px; background:#79c879; 
  color:#fff; margin-bottom:10px; display:none;
}